<h5 style="font-weight: 700;" class="card-title">Promo Code</h5>
<form action="/addPromoCode" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input required class="form-control" type="text" name="name" autofocus id="name"
            placeholder="name">
    </div>
    <br>

    <div class="mb-3">
        <label class="form-label" for="value">Value</label>
        <input required class="form-control" type="number" name="value" autofocus id="value"
            >
    </div>
    <br>
    
    <div class="mb-3">
        <label class="form-label" for="count">Count</label>
        <input required class="form-control" type="number" name="count" autofocus id="count"
            >
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label" for="code">Code</label>
        <input required class="form-control" type="text" name="code" autofocus id="code"
            placeholder="code">
    </div>
    <br>
    
    <button class="btn btn-success">Add Promo Code</button>
</form>