<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div style="background-color: rgba(255, 255, 255, 0.692);" class="card shadow">
                <div class="card-body">
                    <h5 style="font-weight: 700;" class="card-title">Sign up</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input autofocus required class="form-control" type="text" name="username" id="username"
                                placeholder="username">
                            <div class="valid-feedback">looks good</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input required class="form-control" type="email" name="email" id="email"
                                placeholder="email">
                            <div class="valid-feedback">looks good</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input required class="form-control" type="password" name="password" id="password"
                                placeholder="password">
                            <div class="valid-feedback">looks good</div>
                        </div>
                        <button class="btn btn-success">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>